<div class="tors-users w-full bg-green-100">
    <div class="tors-users-inner bg-white m-5 pt-[25px] px-6 pb-3">
        <div class="tors-users-head-buttons w-full flex items-center justify-between ">
            <div class="tors-users-head">
                <div class="tors-head flex items-center gap-2">
                    <h2 class="text-[24px] font-extrabold text-neutral-900 leading-8">All Tasks</h2>
                    <p class="bg-green-700 w-9 text-[13px]  rounded px-3 text-white font-medium">{{pageLength}}</p>
                </div>
                <div class="tors-head-para mt-1">
                    <p class="text-base font-normal text-neutral-500 leading-6">List of Tasks</p>
                </div>
            </div>
            <div class="tors-users-buttons">
                <div class="tors-users-buttons-2">
                    <button (click)="addTask()" class="flex items-center justify-center gap-2 bg-green-800 text-[14px] font-semibold text-white px-4 py-2  rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M8 3.33337V12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.33337 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p>Add New</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="tors-users-table-filter mt-4">
            <div class="tors-users-table-filterr flex items-center justify-between bg-green-50 p-3 rounded">
                <div class="tors-users-search w-[425px] relative">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-icon class="w-[21px] min-w-[21px]"
                            matPrefix
                            [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput [(ngModel)]="searchName" (keypress)="showClear($event.target.value)" (keyup.enter)="doFilter(searchName)" [placeholder]="'Search by task... '">
                    </mat-form-field>
                    <button class="clearSearchIcn absolute right-3 top-3" *ngIf="clearSearch" (click)="clearr()">
                        <mat-icon svgIcon="feather:x" class="icon-size-4.5 text-red block ml-3"></mat-icon>
                    </button>
                </div>
                <!-- <div class="">
                    <button
                        style="border: 1px solid #e7eaee !important"
                        class="bg-white rounded-md"
                        mat-icon-button
                        [matMenuTriggerFor]="summaryMenu"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:dots-horizontal'"
                        ></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                        <button
                            class="flex justify-between"
                            mat-menu-item
                            (click)="getData('all')"
                        >
                            <div>
                                <span
                                    class="w-2 h-2 mr-1 rounded-full bg-dblue inline-block"
                                ></span>
                                All Tasks
                            </div>
                            ({{ allTasks?.length }})
                        </button>
                        <button
                            class="flex justify-between"
                            mat-menu-item
                            (click)="getData('pending')"
                        >
                            <div>
                                <span
                                    class="w-2 h-2 mr-1 rounded-full bg-dred inline-block"
                                ></span>
                                Pending Tasks
                            </div>
                            ({{ pendingTasks?.length }})
                        </button>
                        <button
                            class="flex justify-between"
                            mat-menu-item
                            (click)="getData('inprogress')"
                        >
                            <div>
                                <span
                                    class="w-2 h-2 mr-1 rounded-full bg-dyellow inline-block"
                                ></span>
                                In Progress Tasks
                            </div>
                            ({{ inProgressTasks?.length }})
                        </button>
                        <button
                            class="flex justify-between"
                            mat-menu-item
                            (click)="getData('completed')"
                        >
                            <div>
                                <span
                                    class="w-2 h-2 mr-1 rounded-full bg-dgeen inline-block"
                                ></span>
                                Completed Tasks
                            </div>
                            ({{ completedTasks?.length }})
                        </button>
                    </mat-menu>
                </div> -->
            </div>
            <div class="tors-users-table mt-1">
                <div class="mat-elevation-z8 shadow-none">
                    <table class="w-full" mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> 
                                <div class="tab flex items-center">
                                    <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_outline:check-circle"></mat-icon>
                                    <h3 class="text-[12px] text-[#64748b] font-bold">TASK NAME</h3>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="font-normal text-[14px] text-neutral-800 cursor-pointer">
                                    {{element.taskName}}
                                </div>
                            </td>
                          </ng-container>
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> 
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">TASK DESCRIPTION</h3>
                                <!-- <mat-icon class="w-[21px] min-w-[21px]" svgIcon="heroicons_solid:sort-descending"></mat-icon> -->
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="cursor-pointer font-normal text-[14px] text-neutral-800">
                                {{element.firstName}}
                            </div>
                        </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef> 
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">ASSIGNED TO</h3>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="font-normal text-[14px] text-neutral-800">                                
                                {{element.email}}
                            </div>
                        </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="lastname">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">ASSIGNED BY</h3>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="font-normal text-[14px] text-neutral-800">
                                {{element.phoneNumber}}
                            </div>
                        </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">COMMENTS</h3>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="font-semibold text-[12px] w-fit text-green-900 bg-green-50 px-[10px] py-[2px] rounded">
                                {{element.tfn}}
                            </div>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="create">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">LAST UPDATED</h3>                     
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="font-semibold text-[14px] text-neutral-800">
                                {{element.updatedAt | date : format : "MMM d, y" }}
                            </div>
                        </td>
                      </ng-container>
                      

                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">STATUS</h3>                              
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-buttons flex items-center gap-3">
                                <div class="font-semibold text-[12px] w-fit text-green-900 bg-green-50 px-[10px] py-[2px] rounded">
                                    {{element.status}}
                                </div>
                            </div>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="tab flex items-center gap-2">
                                <h3 class="text-[12px] text-[#64748b] font-bold">ACTION</h3>                              
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-buttons flex items-center gap-3">
                                <div class="font-semibold text-[12px] w-fit text-green-900 bg-green-50 px-[10px] py-[2px] rounded">
                                    {{element.action}}
                                </div>
                            </div>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator 
                    [pageSizeOptions]="[5, 10, 20]"
                    [length]="pageLength"
                    [pageSize]="pageSize"
                    [pageIndex]="pageNumber-1"
                    (page)="getTasksData()">
                    </mat-paginator>
                </div>
                  
            </div>
        </div>
    </div>
</div>
