<div class="tors-add-user w-[480px] rounded-2xl p-8">
    <div class="tors-add-user-inner">
        <div class="tors-add-user-head flex items-center justify-between mb-5 border-b-[1px] pb-3 ">
            <div class="tors-add-user-h">
                <h3 class="text-[18px] font-semibold text-neutral-800">Add GST</h3>
            </div>
            <div class="tors-add-user-icon border-[1px] p-1 rounded-md bg-green-50" (click)="dialodClosse()" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M12 4L4 12" stroke="#191D23" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4 4L12 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="combo relative">
            <div class="existing-users">
                <mat-form-field appearance="" class="w-full">
                    <mat-label class="text-neutral-900">Existing Users</mat-label>
                    <mat-select (valueChange)="handleSelectData($event)">                                                         
                        <mat-option
                            *ngFor="let items of trick"
                            [value]="items"
                        >
                            {{items.firstName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cleaer-data absolute top-0 right-0" *ngIf="trickData">
                <button (click)="clearData()" class="font-semibold text-[14px] text-red-600"><p>Clear</p></button>
            </div>
        </div>
        <div class="other-form flex items-center mt-2 mb-5">
            <div class="border-t-[1px] flex-auto"></div>
            <div class="innn mx-2">
                <p>Or continue with new users</p>
            </div>
            <div class="border-t-[1px] flex-auto"></div>
        </div>
        <div class="tors-add-user-form">
            <form action="" [formGroup]="torsAdd" (ngSubmit)="onSubmit()">
                <div class="first-last-name flex items-center gap-[4%] w-full">
                    <div class="first-name w-[48%]">
                        <mat-form-field class="w-full">
                            <mat-label>First Name</mat-label>
                            <input
                                id="firstname"
                                matInput
                                [formControlName]="'firstName'">
                            <!-- <mat-error *ngIf="torsAdd.get('firstName').hasError('required')">
                                Firstname  is required
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="last-name w-[48%]">
                        <mat-form-field class="w-full">
                            <mat-label>Last Name</mat-label>
                            <input
                                id="lastname"
                                matInput
                                [formControlName]="'lastName'">
                            <!-- <mat-error *ngIf="torsAdd.get('lastName').hasError('required')">
                                Lastname  is required
                            </mat-error> -->
                        </mat-form-field>
                    </div>
               </div>
               <div class="form-email w-full ">
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <!-- <mat-error *ngIf="torsAdd.get('email').hasError('required')">
                        Email address is required
                    </mat-error> -->
                    <mat-error *ngIf="torsAdd.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
               </div> 
               <div class="first-last-name flex items-center gap-[4%] w-full ">
                   <div class="first-name w-[48%]">
                    <mat-form-field class="w-full">
                        <mat-label>Phone Number</mat-label>
                        <input
                            id="phone"
                            (keypress)="numberOnly($event)"onlyNumber
                            maxlength="10"
                            matInput
                            [formControlName]="'phoneNumber'">
                        <!-- <mat-error *ngIf="torsAdd.get('phoneNumber').hasError('required')">
                            Phone Number  is required
                        </mat-error> -->
                    </mat-form-field>
                   </div>
                   <div class="last-name w-[48%]">                    
                    <mat-form-field class="w-full">
                        <mat-label>TFN</mat-label>
                           <input
                           matInput
                           [formControlName]="'tfn'"
                           (keypress)="numberOnly($event)"onlyNumber
                           maxlength="10"
                           >
                        <!-- <mat-error *ngIf="torsAdd.get('tfn').hasError('required')">
                            Tfn number is required
                        </mat-error> -->
                    </mat-form-field>
                   </div>
               </div>
               <div class="first-last-name flex items-center gap-[4%] w-full ">
               <div class="first-name w-[48%]">
                <mat-form-field floatLabel="always" class="w-full">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="'dob'" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>                
                    <!-- <mat-error *ngIf="torsAdd.get('dob').hasError('required')">
                        Username  is required
                    </mat-error> -->
                  </mat-form-field>
               </div>
               <div class="last-name w-[48%]">
                  <mat-form-field appearance="" class="w-full">
                    <mat-label class="text-neutral-900">Client Type</mat-label>
                    <mat-select
                    [formControlName]="'clientType'"
                    >                                                         
                        <mat-option value="Individual">Individual</mat-option>
                        <mat-option value="Non Individual">Non Individual</mat-option>
                    </mat-select>
                </mat-form-field>
               </div>
               </div>           
               <div class="create mt-5 w-full">
                <button type="submit" [disabled]="torsAdd.invalid" class="bg-green-900 w-full py-3 px-8 text-lg font-semibold text-white rounded leading-5" >Create</button>
               </div>
            </form>                                     
        </div>
    </div>
</div>
