::ng-deep .dashboard-innner .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
    margin-bottom: 0px !important;
    padding-bottom: 0;
}
::ng-deep .dashboard-innner .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    min-height: 32px !important;
    border-radius: 6px;
    padding: 0 14px;
    border-width: 0px;
    background-color: #04785719 !important;
}
.date span{
    color: #047857;
    font-size: 13px;
    font-weight: 600;
}
.green-shadow{
    box-shadow: 0 5px 10px #04785714;
}


.carousel {
    width: 80%;
    // margin: auto;
  }
  
  .slide {
    text-align: center;
  }
  
  img {
    width: 10%;
    // height: auto;
  }